.cards{
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    @include media(1200){
        padding-bottom: 100px;
        padding-top: 120px;
    }
    @include media(768){
        padding-top: 80px;
    }
    &::before{
        content: '';
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        background: url(../img/intro-rocket.png) center / cover no-repeat;
        height: 1785px;
        width: calc(100% + 50px);
        left: -50px;
        z-index: -1;
        @include media(1200){
            width: calc(100% + 150px);
            left: -150px;
        }
        @include media(992){
            background: url(../img/cards-figure-2.png) top / contain no-repeat;
            top: 38%;
        }
        @include media(768){
            background: url(../img/cards-figure-3.png) top / contain no-repeat;
        }
        @include media(670){
            background: url(../img/cards-figure-4.png) top / contain no-repeat;
        }
        @include media(575){
            background: url(../img/cards-figure-5.png) top / contain no-repeat;
            left: 0;
            width: 100%;
            top: 58%;
        }
        @include media(445){
            background: url(../img/cards-figure-sm.png) top / contain no-repeat;
            top: 70%;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 30px;
        @include media(992){
            column-gap: 0;
            row-gap: 12px;
            flex-direction: column;
        }
        @include media(575){
            row-gap: 3px;
        }
    }
    &__item{
        width: calc(33.333% - 20px);
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
        border-radius: 50px;
        padding: 40px;
        position: relative;
        @include media(992){
            width: 50%;
            padding: 24px 40px;
        }
        @include media(575){
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            background: linear-gradient(315.16deg, #0C87F1 17.95%, #63CBF2 75.81%);
            z-index: -1;
            border-radius: 50px;
        }
    }
    &__img{
        margin-bottom: 24px;
        @include media(992){
            margin-bottom: 16px;
        }
    }
    &__subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 24px;
        @include media(992){
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 16px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        @include media(992){
            font-size: 14px;
            line-height: 19px;
        }
    }
}