.consult{
    padding-bottom: 120px;
    @include media(992){
        padding-bottom: 100px;
    }
    @include media(768){
        padding-bottom: 80px;
    }
    &__content{
        background: linear-gradient(315.16deg, #0C87F1 17.95%, #63CBF2 75.81%);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
        border-radius: 50px;
        padding: 64px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        isolation: isolate;
        @include media(1400){
            padding: 64px 80px;
        }
        @include media(1200){
            padding: 45px 35px;
        }
        @include media(992){
            flex-direction: column;
            padding: 40px 24px;
        }
        @include media(768){
            border-radius: 30px;
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/consult-figure.png) center / cover no-repeat;
            width: 530px;
            height: 290px;
            right: 0;
            top: -36px;
            z-index: -1;
            @include media(1200){
                background: url(../img/consult-figure.png) top / contain no-repeat;
                width: 425px;
                height: 230px;
            }
            @include media(992){
                background: url(../img/consult-figure-lg.png) top / contain no-repeat;
                right: -15px;
                bottom: -30px;
                top: auto;
                width: 410px;
                height: 195px;
            }
            @include media(768){
                width: 330px;
                height: 160px;
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background: url(../img/consult-circle.png) center / cover no-repeat;
            top: 45px;
            left: 78px;
            z-index: -1;
            @include media(1200){
                width: 58px;
                height: 58px;
                top: 34px;
                left: 20px;
            }
            @include media(768){
                top: 20px;
                left: 13px;
            }
        }
    }
    &__left{
        margin-right: 60px;
        @include media(1200){
            margin-right: -31px;
        }
        @include media(992){
            width: 100%;
            margin-right: 0;
        }
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 605px;
        width: 100%;
        margin-bottom: 40px;
        @include media(1200){
            font-size: 27px;
            line-height: 34px;
            margin-bottom: 32px;
        }
        @include media(992){
            max-width: 100%;
        }
        @include media(768){
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        max-width: 443px;
        width: 100%;
        @include media(992){
            margin-bottom: 68px;
            max-width: 550px;
        }
        @include media(575){
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__btn{
        padding: 18px 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(92.21deg, #FF8D32 11.42%, #FF790D 95.37%);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
        border-radius: 100px;
        @include media(992){
            padding: 18px 33px;
        }
        @include media(768){
            font-size: 14px;
            line-height: 17px;
        }
        @include media(360){
            padding: 18px;
        }
    }
}