.header{
    padding-top: 24px;
    padding-bottom: 32px;
    position: relative;
    @include media(768){
        padding-top: 18px;
        padding-bottom: 40px;
    }
    &::before{
        content: '';
        position: absolute;
        top: -80px;
        right: 0;
        height: 430px;
        width: 60%;
        background:linear-gradient(315.16deg, #0C87F1 17.95%, #63CBF2 75.81%);;
        z-index: -1;
        border-radius: 0 0 0 85%;
        @include media(1200){
            height: 370px;
        }
        @include media(575){
            width: 60%;
            height: 310px;
        }
        @include media(425){
            height: 300px;
            width: 65%;
            border-radius: 0 0 0 100%;
        }
    }
    &__body{
        display: flex;
        align-items: center;    
        justify-content: space-between;
        @include media(1200){
            flex-direction: column;
            align-items: stretch;
        }
    }
    .container-fluid{
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 12px;
    }
    .navbar-brand{
        margin-right: 70px !important;
        padding: 0;
        @include media(1400){
            margin-right: 50px !important;
        }
        @include media(575){
            max-width: 126px;
            width: 100%;
            img{
                @include media(575){
                    width: 100%;
                }
            }
        }
    }
    .navbar-collapse{
        transition: 300ms ease !important;
        &.disable-lg{
            @include media(992){
                display: none !important;
            }
            .navbar-nav{
                @include media(992){
                    display: none;
                }
            }
        }
        &.collapse:not(.show){
            opacity: 1 !important;
            visibility: visible !important;
            transition: 300ms ease !important;
            display: block !important;
            flex-grow: 0;
        }
        &.collapse:not(.show).enable-lg{
            opacity: 0 !important;
            visibility: hidden !important;
            transition: 300ms ease !important;
            display: none !important;
        }
        &.collapse.show{
            opacity: 1 !important;
            visibility: visible !important;
            display: block !important;
        }
    }
    .navbar-toggler{
        min-width: 32px !important;
        width: 32px !important;
        height: 16px;
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border: none;
        outline: none;
        box-shadow: none;
        @include media(992){
            display: flex;
        }
        @include media(575){
            min-width: 24px !important;
            width: 24px !important;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &::before{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            content: '';
            position: absolute;
            min-width: 100%;
            height: 2px;
            background: #fff;
            transition: 300ms ease;
            @include media(575){
                height: 1px;
            }
        }
        &::after{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            content: '';
            position: absolute;
            min-width: 100%;
            height: 2px;
            background: #fff;
            transition: 300ms ease; 
            @include media(575){
                height: 1px;
            }
        }
        .menu-btn{
            display: none;
        }
        &.collapsed{
            .menu-btn{
                display: block;
                min-width: 30px;
                height: 2px;
                background: #fff;
                transition: 300ms ease;
                @include media(575){
                    min-width: 24px;
                    height: 1px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                min-width: 100%;
                height: 2px;
                background: #fff;
                top: 0;
                transition: 300ms ease;
                left: 0;
                transform: translate(0) rotate(0);
                @include media(575){
                    height: 1px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                min-width: 100%;
                height: 2px;
                background: #fff;
                top: auto;
                bottom: 0 !important;
                transition: 300ms ease; 
                left: 0;
                transform: translate(0) rotate(0);
                @include media(575){
                    height: 1px;
                }
            }
        }
    }
    .navbar-nav{
        background: #FFFFFF;
        backdrop-filter: blur(2px);
        border-radius: 50px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: 300ms ease !important;
        @include media(1200){
            margin-right: 0 !important;
            margin-left: auto !important;
        }
        @include media(992){
            background: linear-gradient(315.16deg, #0C87F1 17.95%, #63CBF2 75.81%);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            border-radius: 0px;
            padding: 100px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 700px;
        }
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(315.16deg, #0C87F1 17.95%, #63CBF2 75.81%);
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            border-radius: 50px;
            z-index: -2;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -2px;
            transition: 300ms ease;
            @include media(992){
                display: none;
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background: #fff;
            z-index: -1;
            transition: 300ms ease;
            @include media(992){
                display: none;
            }
        }
    }
    .nav-item{
        padding: 11px 16px;
        position: relative;
        @include media(992){
            padding: 16px 0;
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 22px;
            background: #0C87F1;
            @include media(992){
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                bottom: 0;
                transform: translate(0);
                top: auto;
            }
        }
        &:nth-of-type(1){
            padding-left: 24px;
            @include media(992){
                padding-left: 0;
                padding-top: 0;
            }
        }
        &:last-of-type{
            padding-right: 24px;
            @include media(992){
                padding-right: 0;
                padding-bottom: 0;
            }
            &::before{
                display: none;
            }
        }
    }
    .nav-link{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #222222 !important;
        position: relative;
        padding: 0 !important;
        @include media(992){
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF !important;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -11px;
            width: 100%;
            height: 2px;
            background: #3BACF1;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
            @include media(992){
                display: none;
            }
        }
        &.active,
        &:hover{
            font-weight: 700;
            @include media(992){
                font-weight: 600;
            }
            &::before{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media(1200){
            justify-content: space-between;
        }
    }
    &__phone{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
        margin-right: 24px;
        transition: 300ms ease;
        @include media(1400){
            font-size: 20px;
        }
        @include media(1200){
            color: #222;
        }
    }
    &__button{
        padding: 18px 38px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
        border-radius: 100px;
        transition: 300ms ease;
        min-width: 175px;
        width: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(1400){
            padding: 14px 24px;
            min-width: 150px;
            width: 150px;
            height: 53px;
        }
        @include media(575){
            font-size: 14px;
            line-height: 17px;
        }
        &:hover{
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
            border-radius: 100px;
            color: #222222;
        }
        &:active{
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12), inset 0px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }
}