mixin cards()
    .cards 
        .cards__body.container 
            .cards__item 
                .cards__img 
                    img(src="@img/cards-icon-1.svg", alt="" draggable="false")
                p.cards__subtitle Start-Ups
                p.cards__p Validate idea and get first customers
            .cards__item 
                .cards__img 
                    img(src="@img/cards-icon-2.svg", alt="" draggable="false")
                p.cards__subtitle SMEs
                p.cards__p Maintain a steady flow of customers while lowering acquisition costs
            .cards__item 
                .cards__img 
                    img(src="@img/cards-icon-3.svg", alt="" draggable="false")
                p.cards__subtitle Specialists
                p.cards__p Pay attention to your work and let us bring you customers