mixin consult()
    .consult 
        .consult__body.container 
            .consult__content
                .consult__left 
                    h2.consult__title It is now your turn to become successful, so go ahead!
                    p.consult__desc Just let us know your industry and we will develop solution that comes with a 100% satisfaction guarantee!
                a(href="#!").consult__btn Get a free consultation 