mixin do()
    .do 
        .do__body.container 
            h2.do__title.title What we #[span do?]
            p.do__desc We take a comprehensive, all-inclusive approach to solving the problem, allowing us to reach our objectives in the shortest time possible.
            <div class="do__group card-group">
                <div class="do__card card">
                    p.do__subtitle Marketing Development
                    p.do__p We employ Design Thinking to gain a deeper understanding of your customers and their needs in order to create advertising that resonates with them.
                </div>
                <div class="do__card card">
                    p.do__subtitle Web Development
                    p.do__p We develop the necessary landing pages and websites and launch them in order to convert incoming traffic into leads and orders.
                </div>
                <div class="do__card card">
                    p.do__subtitle Design Process
                    p.do__p We design advertisements and websites.
                </div>
            </div>