mixin good()
    .good 
        .good__body.container 
            <div class="good__row row">
                <div class="good__left col-sm-6">
                    h2.good__title.title Why is this offer #[span good] for monew?
                    p.good__desc We propose that you #[span save up to $500,000] by hiring us
                    p.good__text For this job, companies usually need to hire 5 people. Let's calculate average salaries in Perth using indeed.com data.
                    .good__items 
                        .good__item 
                            .good__icon 
                                img(src="@img/good-img-1.png", alt="" draggable="false")
                            p.good__num 92,783
                            p.good__p Marketing Manager
                        .good__item 
                            .good__icon 
                                img(src="@img/good-img-2.png", alt="" draggable="false")
                            p.good__num 115,557
                            p.good__p Digital Designer
                        .good__item 
                            .good__icon 
                                img(src="@img/good-img-3.png", alt="" draggable="false")
                            p.good__num 124,579
                            p.good__p Full - Stack Developer
                        .good__item 
                            .good__icon 
                                img(src="@img/good-img-4.png", alt="" draggable="false")
                            p.good__num 104,158
                            p.good__p Social Media Specialist
                        .good__item 
                            .good__icon 
                                img(src="@img/good-img-5.png", alt="" draggable="false")
                            p.good__num 81,698
                            p.good__p Content Writer
                    p.good__txt Total cost of your digital success team: 518,775 dollars per year. Moreover, they will not offer any sort of success guarantee.
                    a(href="#!").good__btn Get a free consultation 
                </div>
                .col-sm-6.good__img     
                    img(src="@img/good-img.png", alt="" draggable="false")
            </div>