mixin intro()
    .intro 
        .intro__body.container 
            .intro__left
                h1.intro__title Let's #[span skyrock] your company!
                p.intro__desc We will find your customers and lead them straight to your business
                ul.intro__list 
                    li.intro__li Conduct a Customer Research
                    li.intro__li Create a Website
                    li.intro__li Develop and Launch Advertising
                    li.intro__li Increase your income
                button(type="button").intro__btn Get a free consultation
            .intro__right
                .intro__content 
                    .intro__line 
                        img(src="@img/intro-line.png", alt="" draggable="false")
                    .intro__info.info 
                        p.intro__info-p.info__p #[span Success Guarantee:] We will attract new orders to your business or return the money.