mixin rates()
    .rates 
        .rates__body.container 
            h2.rates__title.title rates
            p.rates__desc You can choose from a variety of options based on what will work best for your circumstance
            <div class="rates__group card-group">
                <div class="rates__card card black">
                    .rates__top.black 
                        p.rates__top-title Short cycle
                    ul.rates__list 
                        li.rates__li.black Ideal for testing new business ideas and attracting customers. Instead of spending a lot of time and money developing a product that doesn't sell well, it's smarter to find out early on whether or not it's worth pursuing as a new business direction or start-up idea. 
                        li.rates__li.black Your hypothesis will be tested on real customers, and you'll have the results and possibly even some sales in a month.
                    p.rates__subtitle.black What you get
                    p.rates__p Validation of a business idea or a new direction, the first applications from people interested in this, the formation of the Target Audience.
                    p.rates__price.black $15,000 
                    p.rates__txt for the entire four-week phase
                    a(href="#!").rates__btn.black Yes, i’m interested in 
                    li.rates__li.star.black <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_109_7052)"/>
                        <defs>
                        <linearGradient id="paint0_linear_109_7052" x1="9.82912" y1="20.652" x2="4.16744" y2="1.93141" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#222222"/>
                        <stop offset="1" stop-color="#343434"/>
                        </linearGradient>
                        </defs>
                        </svg> 
                        | Unlimited Digital Marketing and Web Developments are included in the price. It is important to discuss the advertising campaign's budget separately.
                </div>
                <div class="rates__card card orange">
                    .rates__top.orange 
                        p.rates__top-title Continuous #[br] iterations
                    ul.rates__list 
                        li.rates__li.orange Can also be used as outstaffing.
                        li.rates__li.orange Suitable for long-term relations and managing the company's digital marketing.
                        li.rates__li.orange It is suitable for both established businesses seeking a constant flow of customers and new areas desiring to go on sale through regular changes.
                    p.rates__subtitle.orange What you get
                    p.rates__p Highly-targeted audience and a steady stream of customers.
                    .rates__items 
                        .rates__item 
                            p.rates__price.orange $10,000
                            p.rates__txt setup fee for a four-week phase
                        .rates__item 
                            p.rates__price.orange $1,000 
                            p.rates__txt $1,000 per week thereafter
                    .rates__infos
                        p.rates__info #[span $58,000] per year all-inclusive services versus #[span $518,775 ]
                        p.rates__infos-p Save 88.8%!
                    a(href="#!").rates__btn.orange Wow, just what I needed!
                    li.rates__li.star.black 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_109_7093)"/>
                            <defs>
                            <linearGradient id="paint0_linear_109_7093" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF8D32"/>
                            <stop offset="1" stop-color="#FF790D"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        | Unlimited Digital Marketing and Web Developments are included in the price. It is important to discuss the advertising campaign's budget separately.
                </div>
                <div class="rates__card card blue">
                    .rates__top.blue 
                        p.rates__top-title Partnership
                    ul.rates__list 
                        li.rates__li.blue If your project is in the sales phase and ready to expand, we can discuss a partnership in exchange for a share of the revenue we generate.
                    p.rates__subtitle.blue What you get
                    p.rates__p Increased customers and sales.
                    p.rates__price.blue $15,000 
                    p.rates__txt setup fee plus a percentage of the revenue generated
                    a(href="#!").rates__btn.blue Sounds good, let’s discuss it
                    li.rates__li.star.black 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_109_7118)"/>
                        <defs>
                        <linearGradient id="paint0_linear_109_7118" x1="17.2575" y1="15.5688" x2="5.71745" y2="3.96269" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#0C87F1"/>
                        <stop offset="1" stop-color="#63CBF2"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        | Unlimited Digital Marketing and Web Developments are included in the price. It is important to discuss the advertising campaign's budget separately.
                </div>
            </div>