mixin studies()
    .studies 
        .studies__body.container 
            h2.studies__title.title case #[span studies]
            p.studies__desc Current projects
            <div class="studies__row row row-1">
                <div class="col-sm-6">
                    <div class="studies__card card">
                        .studies__left 
                            p.studies__subtitle Fitness Training Project
                            p.studies__txt Start-up at the concept stage.
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="#222222"/>
                                </svg>
                                | We research the market and customer behaviour, form hypotheses and business models for testing.
                        .studies__img 
                            img(src="@img/studies-img-1.png", alt="" draggable="false")
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="studies__card card studies__card-2">
                        .studies__left 
                            p.studies__subtitle Mobild Australia
                            p.studies__txt.light [Prefab Buildings]
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="#222222"/>
                                </svg>
                                | We research the market and customer behaviour, form hypotheses and business models for testing.
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="#222222"/>
                                </svg>
                                | Developed business models that are different from those found in the United States.
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="#222222"/>
                                </svg>
                                | Hypotheses are formed and tested. The first applications have come in.
                        .studies__img 
                            img(src="@img/studies-img-2.png", alt="" draggable="false")
                    </div>
                </div>
            </div>
            p.studies__desc.blue Latest finished progects
            <div class="card-group studies__card-group">
                .card.studies__card 
                    .studies__item
                        .studies__content 
                            p.studies__subtitle Menu.Market
                            p.studies__txt.light [SaaS Service]
                            p.studies__name Attracted more than 3,000 users within 6 months
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Business Idea Validation
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Digital Marketing
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Web Development
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Onboarding Process
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Acceleration Program Support
                        .studies__img 
                            img(src="@img/studies-img-3.png", alt="" draggable="false")
                .card.studies__card
                    .studies__item
                        .studies__content 
                            p.studies__subtitle Mobild Space
                            p.studies__txt.light [Prefab Buildings]
                            p.studies__name First-month orders totalled US$250,000
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Business Idea Validation
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Digital Marketing
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Web Development
                        .studies__img 
                            img(src="@img/studies-img-4.png", alt="" draggable="false")
                .card.studies__card
                    .studies__item
                        .studies__content
                            p.studies__subtitle Mobild Space 
                            p.studies__txt.light [Prefab Buildings]
                            p.studies__name First-month orders totalled US$250,000
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Business Idea Validation
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Digital Marketing
                            p.studies__p 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99612C19.9108 9.99862 19.8213 9.99992 19.7315 10C19.8213 10.0001 19.9108 10.0014 20 10.0039V9.99612ZM10 0.285166C10.004 5.64875 14.3513 9.99602 19.7148 10C14.3513 10.004 10.004 14.3513 10 19.7148C9.99603 14.3513 5.64875 10.004 0.285166 10C5.64875 9.99602 9.99602 5.64875 10 0.285166ZM0.268551 10C0.178744 9.99992 0.0892216 9.99862 0 9.99612V10.0039C0.0892216 10.0014 0.178744 10.0001 0.268551 10ZM9.99612 20H10.0039C10.0014 19.9108 10.0001 19.8213 10 19.7315C9.99992 19.8213 9.99862 19.9108 9.99612 20ZM10 0.268551C10.0001 0.178744 10.0014 0.0892217 10.0039 0H9.99612C9.99862 0.0892216 9.99992 0.178744 10 0.268551Z" fill="url(#paint0_linear_98_3634)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_98_3634" x1="2.37179" y1="2.57048e-05" x2="19.7856" y2="0.673222" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF8D32"/>
                                    <stop offset="1" stop-color="#FF790D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                | Web Development
                        .studies__img 
                            img(src="@img/studies-img-5.png", alt="" draggable="false")
            </div>
            .studies__info.info 
                p.studies__info-text.info__text And more than 200 of others