mixin works()
    .works 
        .works__body.container
            <div class="row">
                <div class="col-sm-6">
                    .works__img 
                        img(src="@img/works-img.png", alt="" draggable="false")
                    .works__info.info 
                        p.works__info-text.info__text We don't just create websites, We create results!
                </div>
                <div class="col-sm-6">
                    h2.works__title.title How it #[span works?]
                    ul.works__list 
                        li.works__li #[span 1] We analyse your current marketing
                        li.works__li #[span 2] We develop new marketing strategies based on customer needs and use research to understand and target your customers
                        li.works__li #[span 3] We create and launch advertising in social networks
                        li.works__li #[span 4] We analyse your current marketing
                        li.works__li #[span 5] We collect orders / leads and forward them to your sales person / department
                        li.works__li #[span 6] We do this cycle again and get better at it
                </div>
            </div>